/* declaration des couleur don j'aurais besoin */
:root {
    --bleu: #24309A;
    --grey: #D9D9D9;
    --dark-grey: #9C9999;
    --cl-bleu: #5061F9;
}

/*fin declaration des couleur don j'aurais besoin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* fond de la page */
body {
    background-color: #c1e0ec;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/*fin du fond de la page */
/* Coté gauche du cv*/

.container {
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1000px;
    min-height: 1000px;
    background: var(--grey);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
    position: relative;
    background: var(--bleu);
    padding: 40px;

}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}

.profileText img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--grey);
}

/*  */
/*  */
.profileText h2 {
    color: var(--bleu);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;

}

.title {
    color: var(--grey);
    text-transform: uppercase;
    font-weight: 1px;
    border-bottom: 3px solid var(--grey);
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px;
    cursor: pointer;

}

.contactInfo ul li span {
    color: var(--grey);
    font-weight: 300;
}

/* Langue */
.langueInfo.langue .percent {
    position: relative;
    width: 100%;
    height: 6px;
    display: block;
    margin-top: 5px;
}

<<<<<<< HEAD
.langueInfo.langue .percent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, blue 90%, grey 10% );

}
.langueInfo.langue .percent.aa{
    background: linear-gradient(to right, blue 70%, grey 30% );

}
.langueInfo.langue .percent.ab{
    background: linear-gradient(to right, blue 60%, grey 40% );

}
.langueInfo.langue .percent.ac{
    background: linear-gradient(to right, blue 50%, grey 50% );
=======
.langueInfo.langue .percent pbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--cl-bleu);
>>>>>>> 35f09c9850fbefddca4ee77b8d56b58cb5811070

}

.langueInfo ul {
    position: relative;
}

.langueInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

.langueInfo ul li span {
    color: var(--grey);
    font-weight: 300;
}
<<<<<<< HEAD
.langueInfo.langue .percent.ad{
    background: linear-gradient(to right, blue 70%, grey 30% );

}
.langueInfo.langue .percent.ae{
    background: linear-gradient(to right, blue 85%, grey 15% );

}
=======

>>>>>>> 35f09c9850fbefddca4ee77b8d56b58cb5811070
/* Fin langue */
/* Coté droite du cv */
.container .right_side {
    position: relative;
    background: var(--grey);
    padding: 40px;
}

/* TITRE DU POSTE */

.title2 {
    color: var(--bleu);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--bleu);
}

p {
    color: #5061F9;
}

/* FIN TITRE DU POSTE  */
/* EXPERIENCE  */
.experienceInfo.experience {
    padding-top: 40px;
}

.experienceInfo ul {
    position: relative;
    border-left: solid 2px var(--bleu);
}

.experienceInfo ul li {
    position: relative;
    list-style: none;
    color: var(--bleu);
    cursor: pointer;
    margin-left: 10px;
}

/* FIN EXPERIENCE */
/* FORMATION  */
.formationinfo.formation {
    padding-top: 40px;
}

.formationinfo.formation ul {
    position: relative;
    border-left: solid 2px var(--bleu);
}

.formationinfo.formation ul li {
    position: relative;
    list-style: none;
    color: var(--bleu);
    cursor: pointer;
    margin: 10px;
}

.formationinfo.formation ul li .cv {
    display: flex;
    flex-direction: row;
}

/* FIN FORMATION  */
/* LOISIR  */
.loisir {
    display: inline;
    position: relative;

}

.loisir img {
    width: 60px;

}

.loisir .img2 {
    width: 50px;
<<<<<<< HEAD
    margin-left: 20px;
=======
>>>>>>> 35f09c9850fbefddca4ee77b8d56b58cb5811070
}

/* FIN DES LOISIR  */
/* Fin coté droite du cv */